<app-service-modal-create></app-service-modal-create>
<app-service-modal-delete></app-service-modal-delete>
<app-service-modal-edit></app-service-modal-edit>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center " style="background-color: darkslategray; color: white; height: 100px">
      <div>
        <h3>Facility List</h3>
      </div>
    </div>
    <div style="background-color: palegreen" class="container-fluid">
      <div class="container-fluid" style="padding-top: 40px">
     
        <button type="button"
                class="btn btn-danger createEmployee" data-toggle="modal" data-target="#create">
          Create
        </button>
        <div class="row">
          <div *ngFor="let facility of facilities" class="float-left">
            <div class="col-lg-4 col-sm-4 my-sm-2">
              <div>
                <div class="card " style="width: 18rem;">
                  <img
                    [src]=facility.imgURL
                    class="card-img-top image">
                  <div class="card-body">
                    <div>
                    <h4 class="card-title">{{facility.name}}</h4>
                    </div>
                    <p class="card-text">Diện tích phòng: {{facility.area}} m<sup>2</sup></p>
                  </div>

                  <div class="card-body middle">
                    <a style="font-size: 30px; color: blue"><i
                      class="bi bi-pencil-square" data-toggle="modal" data-target="#edit"></i></a>
                    <a type="button" style="color: red; font-size: 30px" class="bi bi-trash"
                       data-toggle="modal"
                       data-target="#exampleModal">

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
