<div class="modal fade" id="create" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Add new Contract</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="addEmployee" method="post">
        <div class="modal-body">
          <div class="form-row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="my-4">
                <label for="name" class="form-check-label">Tên dịch vụ: </label>
                <select id="name" class="form-control">
                  <option value="1">Villa view biển</option>
                  <option value="2">House view biển</option>
                  <option value="3">Room view biển</option>
                  <option value="4">Villa view bình minh</option>
                </select>
              </div>
              <div class="my-4">
                <label for="idCard" class="form-check-label">Ngày bắt đầu: </label>
                <input type="date" id="idCard" class="form-control">
              </div>
              <div class="my-4">
                <label for="phone" class="form-check-label">Ngày kết thúc: </label>
                <input type="date" id="phone" class="form-control">
              </div>
              <div class="my-4">
                <label for="customer" class="form-check-label">Khách hàng: </label>
                <input type="text" id="customer" class="form-control">
              </div>
              <div class="my-4">
                <label for="employee" class="form-check-label">Nhân viên làm hợp đồng: </label>
                <input type="text" id="employee" class="form-control">
              </div>
              <div class="my-4">
                <label for="deposit" class="form-check-label">Số tiền trả trước: </label>
                <input type="number" id="deposit" class="form-control">
              </div>
              <div class="my-4">
                <label for="total" class="form-check-label">Tổng cộng: </label>
                <input type="number" id="total" class="form-control">
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary create">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
