<h1>Cập nhật sản phẩm </h1>
<form [formGroup]="productFormUpdate" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Hãng</td>
      <td>
        <div class="form-group" >
          <label for="id1">Type: </label>
          <select formControlName="category" [compareWith]="compareByID" class="form-control w-50" id="id1">
            <option disabled value="">---select---</option>
            <option *ngFor="let item of category" [ngValue]="item">{{item.name}}</option>

          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button>Cập nhật</button></td>
    </tr>
  </table>
</form>
